@import url(components/header.css);
@import url(components/quiz-card.css);
@import url(components/navbar.css);
@import url(/components/profil.css);

* {
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: rgb(196, 143, 27);
}
/* clicker-script-regular - latin */
@font-face {
  font-family: "Clicker Script";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/clicker-script-v13-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/clicker-script-v13-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/clicker-script-v13-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/clicker-script-v13-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/clicker-script-v13-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/clicker-script-v13-latin-regular.svg#ClickerScript")
      format("svg"); /* Legacy iOS */
}
